:root {
    --verde-oliva: #5d6d4a;
    --terracota: #bc6c25;
    --creme: #fdf6e3;
    --marrom-cafe: #4b3621;
}

body {
    background-color: var(--creme);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--marrom-cafe);
}

/* Centralização do Título e Ajustes de Margem */
header {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 2.5rem;
    color: var(--marrom-cafe);
    margin: 10px 0;
}

/* O cartão "Feito com amor" */
.card-destaque {
    background-color: #f7eedd;
    margin: 20px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #e3d5c6;
}

/* Grade de Categorias - Alinhamento idêntico */
.grid-categorias {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 20px;
}

.categoria-item {
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    width: 20%;
    text-align: center;
}

/* Seção da Marmita */
.card-marmita {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Barra de Navegação Inferior */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #f0f0f0;
}
